
<!DOCTYPE html>
<html lang="en" ng-app="LoginApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log In</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/index.css" rel="stylesheet">

    <script src="/assets/js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/assets/js/angular.min.js" type="text/javascript"></script>
    <script src="/assets/js/LoginApp/LoginApp.js" language="JavaScripts" type="text/javascript"></script>
    <script src="/assets/js/LoginApp/LoginController.js" type="text/javascript"></script>
</head>

<body>

<!--<div class="container" ng-app="LoginApp" ng-controller="LoginController">-->
<div class="container" ng-controller="LoginController" ng-init="init()">

    <form class="form-signin" role="form" method="post" name="loginForm" ng-submit="login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="formData.username"> [{{formData.username}}]
        <input type="password" class="form-control" placeholder="Password" required ng-model="formData.password"> [{{formData.password}}]
        <input type="hidden" id="_csrf" ng-model="formData._csrf" value=""> [{{formData._csrf}}]
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
</body>
</html>
